:root {
    --color-top-bottom: #0582CA;
    --color-left-right: #0582CA;
    --color-centro: #00A6FB;
    --color-tag-a: #003554;
    --color-destaque : #003552;
}
.color-a{
    color : var(--color-destaque);
}
/*Geral */
body {
    font-family: "Press Start 2P", system-ui;
    overflow: hidden;
}
#home-page {
    width: 100vw;
    height: 100vh;
    padding: 23vh 25vw 23vh 25vw;
    background-color: #003554;
    clip-path:polygon(
            25% 23%, 0 0,       /* canto superior esquerdo */
            15% 0%, 85% 0%,     /* topo */
            100% 0,             /* canto superior direito */
            75% 23%,            /* parte superior do 'X' */
            75% 77%,            /* parte superior do 'X' */
            100% 100%,          /* canto inferior direito */
            81% 100%,           /* parte inferior do 'X' */
            15% 100%,           /* base */
            0 100%,             /* canto inferior esquerdo */
            25% 77%             /* parte inferior do 'X' */
    );
}
#row {
    background-color: var(--color-left-right);
}

/*sessao do centro */
.centro-info {
    background-color: var(--color-centro);
    height: 100%;

}
#short-description {
    font-size: .8rem;
    font-weight: 300;
    color: white;
    a {
       color: var(--color-tag-a);
        text-decoration: none;
    }
}
#photo {
    img {
        border: solid 5px var(--color-destaque);
    }
}

/*sessoes das paredes */
#title {
    position: fixed;
    top: 8%;
    left: 30vw;
    h1 {
        color: white;
        transform: perspective(300px) rotateX(-40deg)
    }
}
#languages {
    position: fixed;
    left: 4vw;
    top: 10vw;
    color: white;
    transform: perspective(300px) rotateY(25deg);
    h2 {
        color: var(--color-destaque);
    }
}
#projects {
    position: fixed;
    right: 8vw;
    top: 23vh;
    color: white;
    transform: perspective(300px) rotate3d(1, 1, 5, -5deg);
    h2 {
        color: var(--color-destaque);
    }
}